services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - '4000:4000'

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - '5173:80'
